.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex: 1 1 auto;

  margin: 10px 0 30px;
}

.card {
  flex: 1 1 auto;
}
