.item {
  display: flex;
  align-items: center;

  padding: 10px 20px;

  min-height: 60px;

  &:hover {
    background: #f8f9fa;
  }
}

.previewImg {
  margin-right: 20px;
}

.folderIcon {
  @extend .previewImg;

  width: 40px;
  height: 40px;
}
