.container {
  height: 60px;

  display: flex;
  align-items: center;
}

.userData {
  display: flex;
  align-items: center;
}

.logo {
  width: 55px;
}

.userName {
  margin-right: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
}
